extends layout
append styles
  link(href='../css/basic.min.css', rel='stylesheet')
  link(href='../css/fontawesome-all.css', rel='stylesheet')

append content
  .container
    .starter-template
      h2 Update Presentation
      .alert.alert-warning.s
        p
          |  Upload the Slides HTML file to be linked with the image albums and updated.
      .row
        .col-md-6
          form(action='/presentation',method='post', encType="multipart/form-data")
            //-+input("text","bucket-name","Bucket Name", {name: 'bucket', value: 'intervision-b2b'})
            //-+input("text","brochure-folder-name","Brochure Folder Name", {name: 'folder', value: 'brochures'})
            +input("file","index-file","Slides HTML File", {name: 'htmlFile', required: true})
            +submit("Update Presentation", 'success')
