extends ../node_modules/pug-bootstrap/_bootstrap
append styles
  // Custom styles for this template
  link(href='../css/style.css', rel='stylesheet')

block body
  +navbar-fixed("","navbar","inverse", "/")
    +nav_item("/documentation") Documentation
    +nav_item("/albums") Image Albums
    +nav_item("/presentation") Update Presentation
  .container
    block content
  .footer
    | &copy; All rights reserved
    |
    a(href="http://intervision-vs.com" target="_blank") Intervision
    |
    | #{moment().format('YYYY')}